@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overrides */

.VPSocialLink {
	transform: scale(0.8);
}

.external-link::after {
	content: '\2197';
	margin-left: 4px;
}

/* Embeds */

iframe[src*='twitframe.com'] {
	width: 100%;
	color-scheme: light;
	background-color: transparent;
}
